.Weather {
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 600px;
  margin: 40px auto;
}

.overview h1 {
  margin: 0;
  color: var(--maincolor);
}

.overview ul {
  margin: 0;
  padding: 0;
}

.mainview h2 {
  font-size: 48px;
  color: var(--maincolor);
}

.mainview img {
  height: 70px;
  margin-right: 20px;
  float:left
}

.link {
  font-style: italic;
  font-size: 14px;
  color: var(--maincolor);
  position: relative;
  left: 350px;
  bottom: 30px;
}