.overview h1 {
  margin: 0;
  color: var(--maincolor);
}

.overview ul {
  margin: 0;
  padding: 0;
}

.mainview img {
  height: 70px;
  margin-right: 20px;
  float:left
}

.unitTemp a {
  text-decoration: none;
}

.unit {
  font-size:18px;
  position: relative;
  bottom: 21px;
  left: 2px
}