.overview h1 {
  color: var(--maincolor);
  margin: 0;
}

.overview ul {
  margin: 0;
  padding: 0;
}

.mainview h2 {
  font-size: 48px;
  color: var(--maincolor);
}

.mainview img {
  width: 70px;
  margin-left: 20px;
  float:left
}

.unitTemp a {
  text-decoration: none;
  color: var(--maincolor);
  opacity: 0.6;
}

.unit {
  font-size:18px;
  position: relative;
  bottom: 21px;
  background: rgba(0, 0, 0, 0.025);
  padding: 0 8px;
  border-radius: 10px;
}

.line {
    border-bottom: 1px solid var(--opacity);
    margin: 20px;
}